<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
     <add name="csABC_Tests" connectionString="Data Source=172.16.7.15,1440;Initial Catalog=ABC_Membership;Persist Security Info=True;User ID=sa;Password=1710457" />
     <add name="csTreshCheckDB" connectionString="Data Source=172.16.7.15,1440;Initial Catalog=TrashCheckDB;Persist Security Info=True;User ID=sa;Password=1710457" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--Тип Аутентификации и куда перенаправлять при неудачной аутентификации-->
    <authentication mode="Forms">
      <forms loginUrl="others/LoginPage.aspx" 
             defaultUrl="others/StartPage.aspx"
             timeout="5760" 
             />
      <!-- timeout="5760"  = 4 дня без переавторизации-->
    </authentication>
    <!--Настрйоки связанные с мембршипом-->
    <membership defaultProvider="MembershipProviderEx">
      <providers>
        <clear/>
        <add name="MembershipProviderEx" 
             requiresQuestionAndAnswer="false" 
             passwordFormat="Hashed" 
             enablePasswordReset="true" 
             enablePasswordRetrieval="false" 
             minRequiredPasswordLength="5" 
             minRequiredNonalphanumericCharacters="0" 
             connectionStringName="csABC_Tests" 
             applicationName="/" 
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <!--настройка менеджера ролей-->
    <roleManager defaultProvider="CtestRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="CtestRoleProvider" connectionStringName="csABC_Tests" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
            <files>
                <clear />
		            <add value="others/StartPage.aspx" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>